:root {
  --font-color: #4c4f69;
  --input-background: #ccd0da;
  --button-color: #d8dee9;
  --button-hover-color: #dc8a78;
  --app-background: #eff1f5;
  --body-background: #dce0e8;
}

body {
  margin-top: 30px;
  background-color: var(--body-background);
  color: var(--font-color);
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
}

nav {
  margin-top: 20px;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a.recipe {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.active {
  background: var(--button-hover-color);
}

img,
#app {
  border-radius: 10px;
}

nav > button {
  margin: 0 5px;
}

button {
  color: var(--font-color);
  background: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

button:hover {
  background: var(--button-hover-color);
  cursor: pointer;
}

.flex-el {
  display: flex;
  flex-direction: column;
}

#app {
  margin: 50px;
  padding: 50px;
  background: var(--app-background);
}

.flex {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.flex-row {
  display: flex;
  /* gap: 30px; */
}

.gap10 {
  gap: 10px;
}

.gap30 {
  gap: 30px;
}

form {
  width: 500px;
}

form > button {
  width: fit-content;
}

input {
  background: var(--input-background);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
}

textarea {
  background: var(--input-background);
  color: var(--font-color);
  height: 200px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  resize: none;
}

svg {
  color: "red";
}

#recipe {
  border-bottom: 1px solid #dc8a78;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #recipe {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
