body {
  background-color: #2e3440;
  color: #eceff4;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
}

nav {
  margin-top: 20px;
}

a {
  color: #eceff4;
  text-decoration: none;
}

a.recipe {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.active {
  background: #4c566a;
}

img,
#app {
  border-radius: 10px;
}

nav > button {
  margin: 0 5px;
}

button {
  background: #d8dee9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

button:hover {
  background: #4c566a;
  cursor: pointer;
}

.flex-el {
  display: flex;
  flex-direction: column;
  /* flex: 0;
  width: 300px; */
}

#app {
  margin: 50px;
  padding: 50px;
  background: #3b4252;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-row {
  display: flex;
  gap: 30px;
}

form {
  width: 500px;
}

form > button {
  width: fit-content;
}

input {
  background: #4c566a;
  color: #eceff4;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
}

textarea {
  background: #4c566a;
  color: #eceff4;
  height: 200px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  resize: none;
}
